body {
    margin: 5%;
    display: grid;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    background-color: rgb(244, 237, 224);
}

.title {
    color: #16697a;
    text-align: center;
    margin-bottom: 1em;
}

.entry-textbox {
    background-color: rgb(199, 241, 227);
    width: 20em;
    height: 10em;
    padding: 1em;
    margin-bottom: 0.5em;
    border: unset;
    border-radius: 25px;
}

.entry-textbox:focus {
    outline: none;
    box-shadow: 0px 0px 2px #000;
}

#entryForm .button {
    border: unset;
    border-radius: 25px;
    padding: 5px 16px;
    background-color: rgb(158, 241, 213);
}

#entries {
    background-color: rgb(114, 245, 201);
    color: black;
    border-radius: 25px;
    width: 20em;
    height: 10em;
    padding: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.entries-nav {
    padding-bottom: 1em;
}

.display-entry-button {
    margin: 0.2em;
}

.display-entry-button:hover {
    cursor: pointer;
}