.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 2em;
}